.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

input {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
}

button {
  margin-left: 5px;
  padding: 5px 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}
